---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";

const identity = {
  firstName: "Seekaplayer",
  country: "United States",
  occupation: "Web Developer",
  hobbies: ["Coding", "Gaming", "Fitness", "Music", "Playing Guitar"],
};

const skills = ["HTML", "CSS", "JavaScript", "PHP", "React", "Vue", "Astro", "Python", "Tailwind"];

const happy = true;
const finished = false;
const goal = 3;

const operatingSystem = "MacOS";
const quantity = 1;
const footwear = "Sneakers";
const student = false;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>... and my new Astro Site!</h2>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {identity.hobbies.length >= 2 &&
      <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    }
  </ul>
  <p>My Skills Are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  {happy && <p>I am happy to be learning Astro!</p>}

  {finished && <p>I finished this Astro tutorial!</p>}

  {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

  <p>{operatingSystem}</p>
  {student && <p>I am still in school.</p>}
  <p>I have {quantity + 3} of {footwear}</p>
  {operatingSystem === "MacOS" ? <p>I am using a Mac.</p> : <p>I am not using a Mac.</p>}
</BaseLayout> 

<style define:vars={{skillColor, fontWeight, textCase}}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>